.button {
  padding: 0.8rem 2rem 0.8rem 2rem;
  font-weight: 500;
  background-color: #c3eb34;
  color: var(--gray-850);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 3px;
  width: fit-content;

  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.9);
  }
}