@use "../../themes/variables.scss" as theme;

.snackbar {
  visibility: visible;
  min-width: 250px;
  margin-left: -125px;
  background-color: theme.$color-darkest-gray;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  animation: fadein 1.25s infinite alternate;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 50px;
    opacity: 1;
  }
}
