* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

:root {
  --white: #fff;
  --light-gray: #e0e0e0;
  --normal-gray: #808080;
  --dark-gray: #494d4b;
  --lemon-green: #cddc39;
}

body {
  background: var(--light-gray);
}

body,
input,
button {
  font: 500 1rem sans-serif;
  color: var(--normal-gray);
}

h1 {
  font-size: 2rem;
  color: var(--dark-gray);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: 0;
}

button {
  cursor: pointer;
}
