body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: crimson;
  color: white;
}

.container {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  border: 6px solid blue;

  .card {
    background: whitesmoke;
    border-radius: 20rem;
    color: #111112;
  }
}
